.app {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  max-width: 1024px;
  text-align: center;
  font-family: "Arial";
}

.search-bar
{
  margin: 20px;
  text-align: center;
  input
  {
    width: 50%;
    padding: 5px 10px;
    &:focus
    {
      background-color: white;
    }
  }
}

.userInfo {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 30px;
  overflow: auto;
}

.userInfo img {
  float: left;
  width: 20%;
}
.userInfo .userText {
  float: right;
  width: 80%;
}

.repoName {
    text-align: left;
}

.redText {
    color: red;
}

.list-group {
  padding: 0px;
}

.list-group-item {
  margin-bottom: 5px;
}

.list-group-item a {
  float: right;
}


